body{
    height: 100vh;
    background-color: #000;
}
.my-nav{
    font-size: 1.5rem;
}

.my-nav a {
    color: #bdf5ff;
}

.my-nav a:hover {
    color: #bdf5ff8e;
}

.my-nav a:focus-within {
    color: #008397;
}


.my-nav-item {
    margin: 20px 10px 20px;
}

.page-content {
    display: none;
}

.show-page-content {
    display: block;
    animation: showContent 0.3s ease-in;
}

@keyframes showContent {
    from {opacity: 0;}
    to {opacity: 1;}
}


.hide-greeting {
    display: none;
}

.self-introduction {
    display: none;
}

.show-self-introduction {
    display: block;
    animation: showContent 0.3s ease-in;
}