body{
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: 'Roboto Slab', sans-serif;
    color: #f0f8ffbe;
}
.my-nav{
    font-size: 1.5rem;
}

.my-nav a {
    color: #bdf5ff;
}

.my-nav a:hover {
    color: #bdf5ff8e;
}

.my-nav a:focus-within {
    color: #008397;
}


.my-nav-item {
    margin: 20px 10px 20px;
}

.hide-page-content {
    display: none;
}

.show-page-content {
    display: block;
    animation: showContent 0.5s ease-in;
}

@keyframes showContent {
    from {opacity: 0;}
    to {opacity: 1;}
}

.constructor-icon {
    font-size: 5rem;
}

.abilities-card {
    font-size: 5rem;
    color:#c9c9c99c;
    background-color: #14141415;
    padding: 40px;
    margin: 10px;
    border-radius: 1%;
}

.project-section {
    background-color: #2928281c;
}

.bolded-text {
    font-weight: 700;
}