.my-nav{
    font-size: 1.5rem;
}

.my-nav a {
    color: #bdf5ff;
}

.my-nav a:hover {
    color: #bdf5ff8e;
}

.my-nav a:focus-within {
    color: #008397;
}


.my-nav-item {
    margin: 20px 10px 20px;
}